<div id="divEksperimenti">
  <div id="skrol">
  <div id="nemaEks"></div>
  <div *ngIf="provera==true">
    <div id="e" *ngFor="let e of eksperimenti">
        <p type="button" (click)="otvoriEksperiment(e.id)">  {{ e.name }}  </p>
        <button id="delete" (click)="uzmiId(e.id)" data-bs-toggle="modal" data-bs-target="#exampleModalBrisiE"><span class='text'><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
          </svg></span></button>
    </div>
  </div>
</div>
</div>
<div class="modal fade" id="exampleModalBrisiE" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content" style= "background: rgba(36, 38, 74, 0.95);">
    <div class="modal-header" style="border: none;">
      <h5 class="modal-title" id="exampleModalLabel" style="color: bisque; font-size: large;">Delete experiment</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div contenteditable="true" id="bodyc" class="modal-body" style="color: beige; border: none;">
      Are you sure you want to delete selected experiment?
    </div>
    <div class="modal-footer" style="border: none;">
      <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
      <!-- <button type="button" id="edit" data-bs-dismiss="modal">Delete</button> -->
      <button type="button" id="dgm" class="btn btn-primary" (click)="obrisiE()" data-bs-dismiss="modal">Delete</button>
    </div>
  </div>
</div>
</div>
<simple-notifications></simple-notifications>