<div class="form-froup row">
    <label class="col-sm-2 col-form-label">Naziv filma</label>
    <div class="col-sm-10 pomocna">
        <input type="text" class="form-control" [(ngModel)]="filmNaziv" placeholder="Unesite naziv filma">
    </div>
    <label class="col-sm-2 col-form-label">Zanr</label>
    <div class="col-sm-10 pomocna">
        <input type="text" class="form-control" [(ngModel)]="filmZanr" placeholder="Unesite zanr">
    </div>
    <label class="col-sm-2 col-form-label">Ocena</label>
    <div class="col-sm-10 pomocna">
        <input type="text" class="form-control" [(ngModel)]="filmOcena" placeholder="Unesite ocenu">
    </div>
</div>

<button (click)="dodajFilm()" *ngIf="movie.filmId==0" class="btn btn-primary">Dodaj</button>
<button (click)="izmeniFilm()" *ngIf="movie.filmId!=0" class="btn btn-primary">Izmeni</button>