body
{
    background-image: url("/assets/wallpaper.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*        SCROLL BAR            */ 
body::-webkit-scrollbar {
    width: 10px;
    height: 12px;

    /*margin-right: 10px;*/
  }
  
body::-webkit-scrollbar-corner{
    background-color: #27274100;
}

  /* Track */
body::-webkit-scrollbar-track {

  background: linear-gradient(#030319,#150e2c);
  }
   
  /* Handle */
  body::-webkit-scrollbar-thumb {
    background: #303a59;
    border-radius: 10px;
  }

  body::-webkit-scrollbar-thumb:hover {
    background: #4d5779;
  }

/* -----------------------SLIDER---------------------- */

  .ngx-slider .ngx-slider-bar {
    background: rgb(114, 81, 131) !important;
    height: 10px !important;
    border-radius: 10px !important;
    position: relative;
    top: 9px;
    border: 2px solid rgb(84, 53, 100);
  }

  .ngx-slider .ngx-slider-pointer {
    width: 25px !important;
    height: 25px !important;
    background-color: rgb(173, 128, 195) !important;
    border: 2px solid rgb(84, 53, 100);
  }

  .ngx-slider .ngx-slider-pointer:after {
    display: none !important; 
  }

  .ngx-slider .ngx-slider-bubble {
    color: #c1cdff !important;
  }

  .ngx-slider-span .ngx-slider-bubble .ngx-slider-limit .ngx-slider-floor {
    font-weight: bold;
    bottom: 20px !important;
  }

  /* .ngx-slider .ngx-slider-bubble.ngx-slider-limit
  {
      color: green !important;
  } */

  /* POZADINA */
  /* background-image: linear-gradient(to right, #1e012c, #38084f, #1e012c, #38084f, #1e012c, #38084f, #1e012c); */
