.file-input {
    display: none;
}

#footer
{
    width: 100%;
    position: fixed;
    bottom: 0;
}

#porukaGreske
{/*
    color: #D74971;
    position: absolute;
    left: 300px;*/
    width: 15px;
    height: 15px;
}
img{
    width: 12px;
}
.nonvisible-y{
    visibility: hidden;
}
.nonvisible-n{
    visibility: hidden;
}
.visible-y{

    visibility: visible;
}
.visible-n{
    visibility: visible;
}
/* #brojRedovaTabele, #brojRedovaTabelePoruka
{
    visibility: hidden; 
} */

.pagi
{
    color: rgb(184, 195, 255);
    font-size: larger;
    position: relative;
    left: -3%;
    /* font-family: */
}

ul .ngx-pagination
{
    padding-left: 0;
}

#brojRedovaTabelePoruka{
   /* position: relative;*/
    /*left: 5%;*/
    color: #CED9FF;
    display: flex;
    width: 40%;
    /* padding: 8px 10px; */
    padding: 6px 10px;
    border-radius: 5px;
    align-items: center;
    background-color: #3e417f;
    color: rgb(216, 221, 251);
    min-width: 130px;
    margin: 3px 5px 3px 3px;
    max-width: 200px;
}
#odabir-redova{
    width: 100%;
    color: #CED9FF;
    font-size: 14px;
}
#brojRedovaTabele{ 
    /* background: linear-gradient(to right, rgb(224, 171, 255) , rgb(193, 212, 240)); */
    background-color: #5d5d8e;
    border-radius: 5px;
    border-color: #7b7ba7;
    color: rgb(216, 221, 251);
    border-width: 2px;
    cursor: pointer;
}


#naslov{
    font-weight: 500;
    font-size: 17px;
    /* margin: auto; */
}
/****** PORUKA ERROR ****************/
/*
#poruka-err{
    color: #F45E82;
    font-size: small;
}
#ispisPoruke{
    width: 50px;
    position: relative;
    margin: 1px 0;
    float: right;
    background-color: #006ce8;
}*
/************ Data manipulation ************/ 

#input-data{
    background: none;
    border: none;
    color: white;
    width: 75px;
    min-height: 22px;
    resize:both;
}
#table tr:nth-of-type(even) input{
    
    color: #c1cdff;

}
/*******       HELPER    ********/      
/* naslov -- helper */
#header-help{
    display: flex;
    justify-content: flex-end;
}

.helper{
    width: 18px;
    height: 18px;
    border-radius:50%;
    background-color: rgb(51, 38, 91);
    color: rgb(162, 169, 255);
    font-size: 12px;
    /* border: 1px solid rgb(53, 53, 128); */
    border: 1px solid rgb(162, 169, 255);
    z-index: 10;
    float: right;
    margin-top: 15px;
    margin-right: 15px;
    cursor: help;
}

/* desni ugao -- helper */
.hovertext{
    border-radius: 50%;
    position: fixed;
    width: 20px;
    height: 20px;
    white-space: pre-line;
    margin: 0;
    top: 0;
    left: 0;
    padding: 5px;
    z-index: 100;
    display: none;
}

.hovertext::before,.hovertext::after {
    --scale:0;
    top: -.25rem;
    left: 50%;
    transform: translateX(-100%) translateY(-100%) scale(var(--scale));
    box-sizing: border-box;
    background-color: #0a1024df;
    transition: 150ms transform;
    transform-origin: bottom right;
}
  .hovertext::before{
    position: absolute;
    content: attr(data-tooltip);
    color: white;
    padding: .5rem;
    height: max-content;
    width: max-content;
    border-radius: .3rem;
    text-align: left;
}
  .hovertext:hover::before{
    --scale:1;
}

#box{
    margin-bottom: -10px;
}
/********* NORMALIZACIJA *******/ 

#box2{
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    margin: 0 auto 15px auto;
    width: 100%;
    text-align: center;
    color: #CED9FF;
    height: 160px;
    align-items: center;
}

#normalizacija,#outliers,#polje {
    background-color: #272741;
    border: 4px solid #5977DF;
    padding: 5px;
    box-sizing: border-box;
    box-shadow: 10px 20px 33px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: 16px;

    align-items: center;
    text-align: center;
    justify-content: center;

    height: 130px;
}
#normalizacija{
    width: 30%;
    min-width: 60px;
}
#outliers{
    width: 35%;
    min-width: 60px;
}
#polje{
    width: 29%;
    min-width: 40px;
}

.btn-design3{
    color: white;
    background-color: rgb(101, 72, 115);
    width: 220px;
    height: 35px;
    justify-content: center;
    box-shadow: none;
}

.btn-design3:focus
{
    box-shadow: 0 0 0 0.2rem rgba(190, 138, 218, 0.601);
}

#norm-box{
    display: block;
    text-align: center;
    justify-content: space-between;
    /* height: 35px; */
    /* margin-top: 50px; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    /* width: 82%; */
}

#norm-btn
{
    margin-bottom: 20px;
    font-size: 15px;
    position: relative;
    color: whitesmoke;
    background-color: rgb(101, 72, 115);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

/*  DROPDOWN SUBMENU *****/

.dropdown-menu li {
    position: relative;
    padding-left: 0;
    padding-right: 50px;
    }
    .dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
    }
    .dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
    }
    .dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
    }
    .zamena-select .dropdown-menu li a{
        text-align: left;
        font-size: 13px;
        padding: 1px;
        font-weight: 500;
       /* color: rgb(237, 237, 237);*/
    }
    .zamena-select .dropdown-menu, .menu1{
        background-color: rgb(230, 213, 253);
    }
/********** SELECT DROPDOWN MENU ***/
.menu1 button{
    font-size: 13px;
    padding: 5px 2px 5px 5px;
    font-weight: 500;
}
/**** PODACI *******/

#podaci-box{
    margin-top: 20px;
    width: 90%;
    display: flex;
    justify-content: space-between; 
}
/*********** OUTLIERS *******/

.btn-design4{
    color: white;
    background-color: rgb(101, 72, 115);
    width: 100%;
    height: 35px;
    justify-content: center;
    box-shadow: none;
    width: 220px;
    margin: 0 auto;
}

.btn-design4:focus
{
    box-shadow: 0 0 0 0.2rem rgba(190, 138, 218, 0.601);
}

#outliers-box{
    display: block;
    justify-content: center;
    text-align: center;
    /* height: 35px; */
    margin: auto;
    width: 100%;
}
#threshold{
    height: 35px;
    background-color: #272741;
    border-radius: 5px;
    /*border: 2px solid rgb(37, 164, 214); */ 
    border: 2px solid rgb(121, 121, 121);
    width: 100px; 
    color: white;
    margin-bottom: 20px;
    cursor: default;
    pointer-events: none;
}

#outlier-btn
{
    margin-bottom: 20px;
    font-size: 15px;
    margin-top: 10px;
    position: relative;
    color: whitesmoke;
    background-color: rgb(101, 72, 115);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

.primeni-izuzeci{
    width: 65%;
    height: 35px;
    margin-bottom: 20px;
}

/************* SLIDER *****************/ 

#slider{
    width: 100%;
    justify-content: center;
    margin: -40px auto;

}
#slider input[type="range"]{
    width: 80%;
    height: 10px;
    outline: none;
    color: #006ce8;
}
#slider input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 15px;
    height: 20px;
    cursor: pointer;
    border-radius: 5px;
}
/* 
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 220px;
      -webkit-appearance: none;
      background-color: #ffffff;
      border-radius: 10px;
    }
    
    
    input[type='range']::-webkit-slider-thumb {
      cursor: pointer;
    }

} */
#current-value{
    font-size: 15px;
    position: relative;
    left: 40%;
    width: 55px;
    height: 45px;
    text-align: center;
    line-height: 30px;
    justify-content: center;
    background-color: rgb(83, 50, 100);
    color: rgb(232, 209, 243);
    border: 2px solid rgb(170, 132, 189);
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
}

#div-ratio{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    margin-top: 8px;
}

#btn-ratio{
    /* background-color: #6264b8;
    border: 2px solid rgb(77, 77, 97);
    color: rgb(255, 255, 255);
    border-radius: 7px; */
    background: linear-gradient(to right, rgb(87, 87, 156), rgb(98, 98, 182),rgb(113, 113, 189) ) ;
    height: 35px;
    padding: 5px;
    /* align-items: center; */
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
    /* border: 2px solid rgba(66, 106, 208, 0.8); */
    color: white;
    width: 30%;
    line-height: 10px;
    margin-left: 15%;
    font-size: 14px;
}

#btn-ratio:hover
{
    background: linear-gradient(to left, rgb(128, 128, 201), rgb(108, 108, 204), rgb(108, 82, 202));
}

#procenat
{
    width: 100%;
    margin-left: 3%;
    font-size: 18px;
    color: #c1cdff;
}

#input-ratio{
    accent-color: rgb(101, 72, 115);
}

#sliderHolder
{
    display: flex;
    justify-content: center;
}

/*************** TESTNI SKUP *********************/ 

#testniskup-comp{

    align-items: center;
    text-align: center;
    justify-content: center;
    height: 185px;
}

#proizvoljan-unos{
    text-align: center;
    justify-content: center;
    position: relative;
    top: -12px;
}

.visible-testniskup{
    visibility: visible;
    /* height: 0px;
    transition: height 2s; */
}
.visible-unos{
  visibility: visible;
}
.invisible-testniskup{
    visibility: hidden;
}
.invisible-unos{
    visibility: hidden;
}
.btn-design2{
    height: 35px;
    /* width: 10%; */
    /* margin: 0 15px; */
    color: white;
    background-color: rgb(101, 72, 115);
    justify-content: center;
}

input#exampleFormControlFile1{
    display: none;
 }
 #label-input{
     width: 145px;
     background: linear-gradient(to right, rgb(87, 87, 156), rgb(98, 98, 182),rgb(113, 113, 189) ) ;
     color: rgb(255, 255, 255);
     height: 35px;
     align-items: center;
     font-size: 14px;
     display: flex;
     justify-content: center;
     margin: 20px auto 10px auto;
     box-sizing: border-box;
     border-radius: 10px;
     /* border: 2px solid rgba(44, 75, 90, 0.8); */
     cursor: pointer;
     -webkit-transition-duration: 0.2s;
     transition-duration: 0.2s;
     -webkit-transition-property: box-shadow,transform;
     transition-property: box-shadow,transform;
 
 }
 #label-input:hover, #label-input:active{
     background-color: rgb(39, 91, 139);
     box-shadow:0 0 15px rgba(108, 79, 157, 0.693);
     -webkit-transform: scale(1.1);
     transform: scale(1.1);
 }
 #label-input img{
     width: 25px;
     height: 25px;
 }
 
/*  */

.btn-design{
    color: white;
    background-color: rgb(101, 72, 115);
    /* width: 120px; */
    /* height: 35px; */
    margin: 10px 30px 15px 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    /* justify-content: center; */
    box-shadow: none;
    overflow-wrap: break-word;
    font-size: 100%;
}

.btn-design:focus
{
    box-shadow: 0 0 0 0.2rem rgba(190, 138, 218, 0.601);
}

.btn-design2{
    height: 35px;
    width: 220px;
    margin: 0 15px;
    color: white;
    /* background-color: rgb(33, 79, 138); */
    justify-content: center;
}

/*********** TRACKER ***************/ 

#tracker{
    margin-top: 20px;
    background-color: #15151f;
    border: 4px solid #5977DF;
    padding: 5px;
    box-sizing: border-box;
    box-shadow: 10px 20px 33px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: rgb(180, 180, 180);
    width: 950px;
    height: 70px;
    overflow-y: scroll;
}
#tracker::-webkit-scrollbar-track{
    background-color: #15151f;
    
}
#tracker::-webkit-scrollbar-thumb{
    background-color: #38395f;
    
}
#tracker::-webkit-scrollbar-corner{
    background-color: #15151f;
}    

#tracker::-webkit-scrollbar{
    width: 10px;
    
}

#restore-columns{
    color: white;
    background-color: rgb(50, 50, 114);
    border: 1px solid rgb(33, 33, 78);
    border-radius: 5px;
}

#clear-tracker{
    color: white;
    background-color: rgb(88, 77, 44);
    border: 1px solid rgb(68, 65, 31);
    border-radius: 5px;
    margin-left: 5px;
}

#selektovane-kolone{
    color: white;
    background-color: rgb(50, 50, 114);
    border: 1px solid rgb(33, 33, 78);
    border-radius: 5px;
    margin-left: 5px;
}
#selektovani-redovi{
    color: white;
    background-color: rgb(116, 38, 38);
    border: 1px solid rgb(60, 26, 26);
    border-radius: 5px;
    margin-left: 5px;
}
#restore-rows{
    color: white;
    background-color: rgb(116, 38, 38);
    border: 1px solid rgb(60, 26, 26);
    border-radius: 5px;
    margin-left: 5px;
}
#svi-redovi{
    color: rgb(249, 237, 245);
    background-color: #c545c952;
    border: 1px solid rgb(60, 26, 47);
    border-radius: 5px;
    margin-left: 5px;
    /* width: 140px; */
    padding: 7px 12px;
}
#svi-redovi:hover{
    background-color: #c545c968;
}
#sve-kolone{
    color: rgb(216, 221, 251);
    background-color: rgb(50, 50, 114);
    border: 1px solid rgb(33, 33, 78);
    border-radius: 5px;
    margin-left: 5px;
    /* width: 140px; */
    padding: 7px 12px;
}
#sve-kolone:hover{
    background-color: rgb(57, 57, 131);
}
/****** SELEKTOVANJE REDOVA *****/
.selectedRow{
    background-color: #f715ff24;
}


/* ---------------------   TABELA  ----------------------  */ 
#tabela-podesavanja{
    /* display: flex; */
    margin-bottom: 10px;
    /* justify-content: space-between; */
}

#table
{
    margin-top: 5px;
    background-color: #272741;
    border: 3;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 10px 20px 33px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: white;
    /* width: 960px; */
    height: 600px;
  
}
#skrol{
    overflow: scroll;
    height: 540px;
    
}

/*        SCROLL BAR            */ 
#skrol::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    /*margin-right: 10px;*/
  }
  
#skrol::-webkit-scrollbar-corner{
    background-color: #272741;
}

  /* Track */
#skrol::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(196, 196, 196, 0.52); 
    border-radius: 10px;
  }
   
  /* Handle */
#skrol::-webkit-scrollbar-thumb {
    background: #505e8c;
    border-radius: 10px;
  }
  
  /* Handle on hover */
#skrol::-webkit-scrollbar-thumb:hover {
    background: #59689b;
  }
/*   ************   */ 

#table th{
    color: #a7baff;
    text-align: left;
}
td {
    padding: 12px 10px;
}
th{
    padding: 12px 10px;
    position: sticky;
    top: -12px;
    background-color: #272741;
    cursor: pointer;
}
.tr-button{
    transition: box-shadow .2s;
    /* background: transparent; */
    border: none !important;
    color: #a7baff;
}
.tr-button:hover{
    /*border: 1px solid rgb(255, 69, 100);*/
    background-color: rgb(44, 50, 121);
    /*border-radius: 10px;*/
    /*box-shadow: 0px 0px 10px 5px rgba(255, 18, 89, 0.349); */
}
.tr-button:active{
    background-color: rgb(44, 49, 99);
    color: rgb(196, 196, 196);
}

.trbody{
    border-bottom: 1px solid rgb(122, 122, 122);
}

#table tr:hover:nth-child(even)
{
    
    background-color: #603c7cd2;
    /* background-color: #603753e2;  */
    /* background-color: #c545c931; */
}
#table tr:hover:nth-child(odd)
{
    /* background-color: #97399a41; */
    background-color: rgba(221, 0, 255, 0.147);
    /* background-color: rgba(255, 0, 0, 0.155); */
}

.selectedColHeader
{
    background-color: #344480;
}

.selectedCol
{
    background-color: #627de02e;
}

/* .selectedCol:nth-of-type(even)
{
    background-color: #F45E82;
}*/
/*
.head-table{
    background-color: aqua;
}
*/

#table tr:nth-of-type(even){
    background-color: #424263;
    color: #c1cdff;

}

/* -------------------------- PODACI ---------------------------------*/

#body1{
    width: 99%;
   /* background-color: #D74971; */
    /* margin: auto; */
    min-height: 60vh;
}

#naziveksperimenta{
    /*float: right;*/
    transition: box-shadow .2s;
    min-width: 200px;
    margin-right: 15px;
    border: 3px solid rgb(37, 164, 214) ;
    color: #CED9FF;
    background-color: #272741;
    padding: 5px;
    align-items: center;
    height: 40px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 10px 20px 33px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
#naziveksperimenta:hover{
    box-shadow: 0px 0px 10px 5px rgba(33, 18, 255, 0.2); 
}

#box{
    margin: 10px auto;
    width: 100%;
    text-align: center;
    color: #CED9FF;
    height: 300px;
    align-items: center;
    display: flex; 
    justify-content: space-between;
}

.p1{
    width: 350px;
}
.p2{
    width: 300px;
}
.placement{
    float: left;
    height: 270px;
}

#testniskup,#enkodiranje,#nedostajucevrednosti{
    background-color: #272741;
    border: 4px solid #5977DF;
    padding: 5px;
    box-sizing: border-box;
    box-shadow: 10px 20px 33px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: 16px;
}
#vrednost-ratio{
    background-color: #171f37;
    border-radius: 5px;
    width: 60px;
    height: 35px;
    font-size: 14px;
    color: #c1cdff;
    border: 2px solid rgb(98, 98, 182);
}

#nedostajucevrednosti{
    width: 45.5%;
    
}
#header1{
    /*float: left;*/
    width: 100%;
    /* display: flex;
    position: relative;
    justify-content: space-between; */
}

#sacuvajizmene{
    width: 120px;
    height: 34px;
    color: rgb(242, 244, 252);

    /* background: linear-gradient(221.84deg, #5977DF 4.29%, #7C96F3 4.31%, #4B4C74 118.62%, #6E6E9C 118.63%); */
    background-color: #535393;
    border: none;
    box-sizing: border-box;
    box-shadow: 10px 20px 33px rgba(0, 0, 0, 0.25);
    float: right;
    border-radius: 5px;
    
}
#sacuvajizmene:hover{
    background: linear-gradient(to left, rgb(128, 128, 201), rgb(108, 108, 204), rgb(108, 82, 202) );
}

#ucitaj1{
    padding: 5px;
    align-items: center;
    height: 40px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
    background: rgb(202, 42, 80);
    border: 3px solid rgba(243, 48, 95, 0.8);
    color: white;
    position: absolute;
    z-index: 10;
    width: 140px;
}
#ucitaj1:hover{
    background: linear-gradient(to left, rgb(255, 59, 105), rgb(233, 58, 99), rgb(190, 47, 80) );
}

#okvir1{
    border: 3px solid   #A2AFD2;
    box-sizing: border-box;
    text-align: right;
    color: white;
    border-radius: 10px;
    position: relative;
    align-items: center;
    z-index: 2;
    height: 40px;
    line-height: 35px;
    max-width: 180px;
    align-items: center;
    left: 125px;
    
    /* position: absolute; */
}

.okvir2{
    margin: 0;
}

.floatRight
{
    float: right;
}

/* TESTNI SKUP - KOMPONENTE */

#ucitaj-testniskup{
    height: 35px;
    padding: 5px;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
    background: rgb(114, 89, 206);
    border: 3px solid rgba(45, 82, 99, 0.8);
    color: white;
    position: absolute;
    z-index: 10;
    width: 140px;
    position: relative;
}
#ucitaj-testniskup:hover{
    background: linear-gradient(to left, rgb(128, 128, 201), rgb(108, 108, 204), rgb(108, 82, 202) );
}

#testniskup-menu{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 30px;
    background: linear-gradient(to right, rgb(224, 171, 255) , rgb(193, 212, 240));
}

/*   NEDOSTAJUCE VREDNOSTI */ 
/*
#Zamena, #Brisanje{
    height: 30px;
    background: linear-gradient(to right, rgb(224, 171, 255) , rgb(193, 212, 240));
    margin: 0 15px;
}*/

#select-elements{
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

#pomocniDiv
{
    display: block;
    justify-content: center;
    margin-left: 50%;
    margin-right: 50%;
}

#opcije-nv{
    /* width: 100%; */
    display: block;
    justify-content: center;
    margin: auto;
    padding: 5px 0 5px 0;
}
#prazni-string{
    /* width: 90%; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}
#zamena-nula{
    /* width: 90%; */
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;
}
#b1,#b2{
    background: linear-gradient(to right, rgb(87, 87, 156), rgb(98, 98, 182),rgb(113, 113, 189) ) ;
    height: 35px;
    padding: 5px;
    /* align-items: center; */
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
    /* border: 2px solid rgba(66, 106, 208, 0.8); */
    color: white;
    width: 30%;
    line-height: 10px;
}
/*
#prazni-string, #zamena-nula, #nova-kategorija{
    display: flex;
    margin-left: 35px;
    padding: 10px;
    line-height: 30px;
}

#prazni-string{
    margin-top: 25px;
}

#b1,#b2{
    margin-left: 10px;
    background: linear-gradient(to right, rgb(87, 87, 156), rgb(98, 98, 182),rgb(113, 113, 189) ) ;
    height: 30px;
    padding: 5px;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
    border: 2px solid rgba(44, 75, 90, 0.8);
    color: white;
    width: 100px;
    line-height: 10px;
    
}
#b3{
    margin-left: 10px;
    background: linear-gradient(to right, rgb(87, 87, 156), rgb(98, 98, 182),rgb(113, 113, 189) ) ;
    height: 30px;
    padding: 5px;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
    border: 2px solid rgba(44, 75, 90, 0.8);
    color: white;
    width: 130px;
    line-height: 10px;
}*/
#b1:hover{
    background: linear-gradient(to left, rgb(128, 128, 201), rgb(108, 108, 204), rgb(108, 82, 202) );
}
#b2:hover{
    background: linear-gradient(to left, rgb(128, 128, 201), rgb(108, 108, 204), rgb(108, 82, 202) );
}

#b3:hover{
    background: linear-gradient(to left, rgb(128, 128, 201), rgb(108, 108, 204), rgb(108, 82, 202) );
} 

#regresija-nv{
    /* width: 60%; */
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    /* margin: auto auto auto 45px;
    padding: 30px 0 5px 0; */
}
#btn-reg{
    background: linear-gradient(to right, rgb(87, 87, 156), rgb(98, 98, 182),rgb(113, 113, 189) ) ;
    height: 35px;
    padding: 5px;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    /* border: 2px solid rgba(66, 106, 208, 0.8); */
    color: white;
    width: 30%;
    line-height: 10px;
    border-radius: 10px;
}

#btn-reg:hover
{
    background: linear-gradient(to left, rgb(128, 128, 201), rgb(108, 108, 204), rgb(108, 82, 202));
}

#regresija-input{
    width: 40%;
    background-color: #171f37;
    box-sizing: border-box;
    border: 2px solid rgb(98, 98, 182);
    color: white;
    margin-right: 10px;
}

/* ENKODIRANJE */ 

#b4, #b5{
    background: linear-gradient(to right, rgb(87, 87, 156), rgb(98, 98, 182),rgb(113, 113, 189) ) ;
    height: 40px;
    padding: 5px;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
    /* border: 2px solid rgba(66, 106, 208, 0.8); */
    color: white;
    width: 60%;
    display: block;
    max-width: 200px;
}

/* #b5
{
    margin-bottom: 10px;
} */

#b4
{
    margin-left: auto;
    margin-right: auto;
}

#b5
{
    margin: 15px auto auto auto;
}

#b4:hover{
    background: linear-gradient(to left, rgb(128, 128, 201), rgb(108, 108, 204), rgb(108, 82, 202) );
}

#b5:hover{
    background: linear-gradient(to left, rgb(128, 128, 201), rgb(108, 108, 204), rgb(108, 82, 202) );
}

/*  ------------------------------  STATISTIKA ---------------------------------- */ 


#statistika{
    position: relative;
    margin: 10px 0 auto 27px;
    background-color: #272741;
    border: 4px solid #5977DF;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 10px 20px 33px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: white;
    width: 360px;
    height: 550px;
}

#statNaslov
{
    display: flex;
    justify-content: center;
    color: #CED9FF;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: 500;
}

#imeKolone
{
    color: #F45E82;
    margin-bottom: 15px;
    font-size: 15px;
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
    margin-left: 15px;
    margin-top: 15px;
    cursor: pointer;
}

#imeKolone:hover
{
    color: #fb9ab0;
    transition: 0.1s;
    text-shadow: 3px 3px 3px #272741;
}

/* #ulStat
{
    list-style-type: none;
} */

#statistika::-webkit-scrollbar{
    width: 15px;
}
#statistika::-webkit-scrollbar-track{
    background-color: #272741;
    
}
#statistika::-webkit-scrollbar-corner{
    background-color: #272741;
}
#statistika::-webkit-scrollbar-thumb{
    background-color: #38395f;
}

.uvuceno
{
    margin-left:50px;
    margin-bottom: 5px;
}

.item
{
    margin-bottom: 5px;
}

.uvucenoBezMB
{
    margin-left: 50px;
}

.numcatVisible
{
    visibility: visible;
    color: #CED9FF;
    font-size: 16px;
}

.numcatHidden
{
    visibility: hidden;
}

.strelica
{
    float: right;
    color: #CED9FF;;
}

/* tooltip -- levi ugao*/
.hovertext-left{
    border-radius: 50%;
    position: relative;
    white-space: pre-line;
    padding: 5px;
}

.hovertext-left::before,.hovertext::after {
    --scale:0;
    top: -.25rem;
    left: 50%;
    transform: translateX(-0%) translateY(-100%) scale(var(--scale));
    box-sizing: border-box;
    background-color: #0a1024;
    transition: 150ms transform;
    transform-origin: bottom left;
}
  .hovertext-left::before{
    position: absolute;
    content: attr(data-tooltip);
    color: white;
    padding: .5rem;
    height: max-content;
    width: max-content;
    border-radius: .3rem;
    text-align: left;
}
  .hovertext-left:hover::before{
    --scale:1;
}

.okvir
{
    border: 3px solid #6D7B9F;
    border-radius: 10px;
    padding: 10px;
    background: rgba(39, 39, 65);
}

.visinaPodesavanja
{
    height: 600px;
    margin-top: -37px;
}

.naslov
{
    display: flex;
    justify-content: center;
    font-size: 17px;
    padding-top: 5px;
    padding-bottom: 10px;
    color: rgb(216, 221, 251);
}

/*---------------------PODESAVANJA-----------------------*/
.podesavanje
{
    margin-top: 5px;
    margin-bottom: 15px;
    width: 100%;
}
.dugmeCollapse
{
    width: 100%;
    background-color: #3e3e6e;
    /* border-color: #4761c0;
    border: 2px solid rgb(66, 86, 164); */
    border-radius: 10px;
    color: rgb(216, 221, 251);
    box-shadow: none;
/*           TABELA STATISTIKA          */ 
}

.td-tabela-stat{
    text-align: right;
    border-right: 5px solid #32324c;
}

.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;

    position: sticky;
    right: 20px;
}

.pom
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

#manipulacijaPodacima::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    /*margin-right: 10px;*/
  }
  
#manipulacijaPodacima::-webkit-scrollbar-corner{
    background-color: #272741;
}

  /* Track */
#manipulacijaPodacima::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(196, 196, 196, 0.52); 
    border-radius: 10px;
  }
   
  /* Handle */
#manipulacijaPodacima::-webkit-scrollbar-thumb {
    background: #6070a7;
    border-radius: 10px;
  }

.dugme
{
    margin-bottom: 20px;
    background-color: rgb(101, 72, 115);
    box-shadow: none;
    font-size: 15px;
}

.dugme:focus
{
    box-shadow: 0 0 0 0.2rem rgba(190, 138, 218, 0.601);
}

.imeAkcije
{
    text-align: center;
    color: rgb(216, 221, 251);
    width: 40%;
    margin-right: 10px;
    margin-top: 3px;
}

.okvirZaNA
{
    border: 3;
    border-radius: 10px;
    background: rgba(39, 39, 65);
    padding-top: 15px;
}

.naslov
{
    width: 100%;
}

.tekstNaslova
{
    width: 70%;
    display: block;
    justify-content: center;
    text-align: center;
    color: rgb(216, 221, 251);
}

#dropdownBasic1
{
    /* margin-top: 20px; */
    font-size: 15px;
    margin-bottom: 10px;
    position: relative;
    color: whitesmoke;
    background-color: rgb(101, 72, 115);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

#dropdownBasic3
{
    font-size: 15px;
    margin-left: 7%;
}

#dropdownMenuButton
{
    font-size: 15px;
    position: relative;
    color: whitesmoke;
    background-color: rgb(101, 72, 115);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

#dropdownLinReg
{
    font-size: 15px;
    position: relative;
    color: whitesmoke;
    background-color: rgb(101, 72, 115);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

.btn-primary
{
    border: none;
    font-size: 14px;
    background: linear-gradient(to right, rgb(87, 87, 156), rgb(98, 98, 182),rgb(113, 113, 189) ) ;
    height: 35px;
    padding: 5px;
    /* align-items: center; */
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
    /* border: 2px solid rgba(66, 106, 208, 0.8); */
    color: white;
    width: 35%;
    line-height: 10px;
}

.btn-primary:hover
{
    background: linear-gradient(to left, rgb(128, 128, 201), rgb(108, 108, 204), rgb(108, 82, 202) );
}

.btn-primary:focus
{
    box-shadow: 0 0 0 0.2rem rgb(80, 76, 185);
}

#enkodiranjeHolder
{
    margin-top: 10px;
}

/* .visinaIstorije{

    height: 67px;
} */

#undoRedoDugme{
    height: 40px;
    width: 40px;
    border-radius: 22px;
    background-color: transparent;
    border: none;
    /*float: right;*/
}

#undoRedoDugme:hover{

    background-color: #4f4f6c;
}

#undoRedoDugmeIstorija{
    height: 28px;
    width: 28px;
    /* border-radius: 5px; */
    background-color: transparent;
    border: none;
    /* border: 1px solid #a7baff;
     margin-left: 10px;
    margin-top: 2px; 
    float: right; */
}

#undoRedoDugmeIstorija:hover{
    height: 28px;
    width: 28px;
     border-radius: 28px; 
    background-color: #ced9ff43;
    border: none;
    /* border: 1px solid #a7baff;
     margin-left: 10px;
    margin-top: 2px; 
    float: right; */
}

#poslednjiIstorija{
   /* margin-top: 20px;*/
    background-color: #15151f;
    border: 4px solid #5977DF;
    padding: 5px;
    box-sizing: border-box;
   /* box-shadow: 10px 20px 33px rgba(0, 0, 0, 0.25);*/
    border-radius: 10px;
    color: rgb(180, 180, 180);
    margin-bottom: 5px;
}

#ist{

    margin-bottom: 5px;
}

.dugmiciG{
    width: 50%;
    margin-top: 10px;
}

/*
.dugmiciG:hover{

    color: rgba(39, 39, 65);
}
*/
.dugmiciG:active{

    color: rgba(39, 39, 65);
}

#dugmeIstorija{
    width: 100%;
    margin-top: 2px;
    color: white;
    font-size: 15px;
    background-color: #5c6a8d;
}
#dugmeIstorija:hover{
    background-color: rgb(110, 127, 165);
}

/* #dugmeIstorija:hover{
    color: rgba(39, 39, 65);
} */

.visinaVizuelizacije{
    height: 550px;
    margin-top: -37px;
}

#kantica{

    width: 20px;
    height: 20px;
    padding: 0px;
    /* border-radius: 5px; */
    background-color: transparent;
    border: none;
}

.img-fluid
{
    width: 100%;
    height: 100%;
} 
#numericka-tabela tr:nth-of-type(even){
    background-color: #343457;
    color: #c1cdff;

}

#numericka-tabela tr:hover:nth-child(even)
{
    background-color: #f882f836;
}
#numericka-tabela tr:hover:nth-child(odd)
{
    background-color: #f882f836;
}
#numericka-tabela{
    margin-top: -25px;
}

#ucitaniPodaci-naslov,#statPodaci-naslov{
    cursor: pointer;
    padding-top: 4px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(216, 221, 251);
}

 #numericka-tabela td{
    padding: 10px 9px 10px 40px;
}

#numericka-tabela th{
    text-align: left;
    padding: 10px 40px 10px 5px;
    
}

#numericka-tabela .head-table th{
    width: 200px;
 }

 
#numericka-tabela tr .trbodyy td{
    width: 200px;
}


#numericka-tabela td:first-child{
    text-align: left;
    padding: 10px 25px 10px 5px;

}

#numericka-tabela tr td:first-child{
    font-weight: bolder;
    /*background-color: #32324c;*/
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

#numericka-tabela .head-table th{
    cursor: default;
}
/* NASLOV TABELE STATISTIKA I PODACI */
#ucitaniPodaci-naslov:hover{
     box-shadow: inset 0 0 10px 0px rgba(196, 196, 196, 0.52); 

}
#statPodaci-naslov:hover{
    box-shadow: inset 0 0 9px rgba(196, 196, 196, 0.52); 
}


/*   */

.statistika-tip{
    width: 100%;
    margin-top: 12px; 
    position: sticky;
    left: 0;
    display: grid;
    margin-bottom: 10px;
}

.btn-coll{
    width: 100%;
    background-color: #3a3a53; 
    border-radius: 5px;
    color: #e773e7;
    box-shadow: none;
    height: 45px;
}

#numericka-tabela{
    margin-top: 10px;
}

#dugmecsv{
    background-color: #2f3048; 
    font-size: smaller;
    padding: 5px; 
    border-radius: 5px; 
    border: 1px solid rgb(36, 36, 76);
    color:rgb(197, 197, 197);
}

#dugmecsv:hover{
    background-color: #4e4f64; 
    color:rgb(255, 255, 255);
}

#izbaci-selekt-vrste
{
    color: rgb(249, 237, 245);
    background-color: rgb(92, 106, 141);
    border: 1px solid rgb(60, 51, 26);
    border-radius: 5px;
    margin-left: 5px;
    padding: 7px 12px;
}
#izbaci-selekt-vrste:hover{
    background-color: rgb(108, 120, 152);
}

#izbaci-selekt-kolone
{
    color: rgb(216, 221, 251);
    background-color: rgb(50, 50, 114);
    border: 1px solid rgb(33, 33, 78);
    border-radius: 5px;
    margin-left: 5px;
    padding: 7px 12px;
}

.space
{
    margin-right: 2%;
}

/* -----------------SNAPSHOTS------------------ */

#tekstSnapshot
{
    color: rgb(216, 221, 251);
    /* text-align: right; */
    font-size: 16px;
    margin-bottom: 10px;
    /* margin-left: 5px; */
}

#verzijaSnapshotaSelect
{
    background-color: rgb(85, 60, 98);
    border-radius: 5px;
    border-color: rgb(132, 95, 151);
    color: rgb(216, 221, 251);
    border-width: 2px;
    padding: 6px 12px;
}

#verzijaSnapshotaSelect:hover
{
    background-color: rgb(101, 72, 115);
}

#deleteSnap
{
    border-radius: 5px;
    background-color: #eb46998a;
    border: 1px solid rgb(60, 26, 47);
    border: none;
    color: rgb(248, 236, 244);
    padding: 6px 12px;
}

#deleteSnap:hover{
    background-color: #e65ca19f;
}

#sacuvaj, #sacuvajKao
{
    border-radius: 5px;
    width: 100px;
    background-color: #535393;
    border: none;
    padding: 7px 12px;
    color: rgb(242, 244, 252);
}
#sacuvajKao:hover{
    background-color: #6767a6;
}

/* */

ngb-pagination ::ng-deep ul > li:not(.active) > a {
    background-color: #272741 !important;
    color: rgb(183, 225, 246);
    border: 1px solid #5d5d91 !important ;
}

ngb-pagination ::ng-deep ul > li.active > a {
    background-color: rgb(46, 69, 155) !important;
    border: 2px solid rgb(189, 211, 222) !important;
}


#imeVerzije{
    border: 2px solid #bc7ca1;
    background: transparent; 
    border-radius: 8px;
    height: 40px;
    color: #CED9FF;
    padding: 10px;
    color: white;
    width:100%;
}

#imeVerzije:focus{
    outline: none;
}

.modal-header .btn-close {
    margin: -0.5rem -0.5rem -0.5rem auto;
    padding-top: 0px;
}

#btn-otkazi{
    background-color: rgb(228, 228, 228);
}

#btn-zameni{
    background-color: rgb(228, 228, 228);
}

#btn-otkazi:hover{
    background-color: rgb(28, 28, 28);
    color: white;
}

#btn-zameni:hover{
    background-color: rgb(28, 28, 28);
    color: white;
}

/* modali za brisanje vrednosti */  

.btn-modal-close:focus{
    box-shadow: none;
}

/* INPUT NEW ROW */ 

#btn-otkazi-newrow{
    box-shadow: none;
}

#tipPolja{
    color: rgb(150, 150, 150);
    font-size: smaller;
}

.input-new-row,.input-new-row:focus{
  border: 2px solid #bc7ca1;
  background: transparent; 
  border-radius: 8px;
  height: 30px;
  color: #CED9FF;
  padding: 10px;
  color: white;
  width:100%;
  outline: none;
}

/* NA new Value */
#newNaValue{
    width: 200px;
    border-radius: 4px;
    
}

#checkNumerical{
    color: rgb(255, 43, 75); 
    visibility: hidden;
}

/* Tip kolona */ 

.span-toggle:hover{
    color: #8e2400!important;
    background-color: rgb(211, 132, 112)!important;
}
/* 
.span-toggle{
    color:#204513; 
    background-color: rgb(135, 172, 126);
} 
 */
.custom-slider
{
    width: 85%;
}

#infoTrainTestSplit
{
    width: 85%;
    color: #959fcb;
    font-size: 13.5px;
    margin-bottom: 30px;
    margin-top: -25px;
    border-bottom: 1px solid #959fcb;
}

#procenatTestni, #procenatTrening, .proc
{
    color: #c1cdff;
}

.btn-secondary:focus
{
  box-shadow: 0 0 0 0.2rem rgba(190, 138, 218, 0.601);
}

.btn-secondary
{
  border: none;
}

#btn-kreirajnovired
{
  background-color: #a16c8b;
  border: none;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  color: #eee;
}

#btn-kreirajnovired:hover
{
  background-color: #a16c8b;
  border: none;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  color: #eee;
}

#dugmePopup1{
  
  background-color: #a16c8b;
  border: none;
  color: #eee;
}

#dugmePopup2{

    background: rgba(229, 229, 229, 0.25);
    border: none;
    color: #eee;
}

#sacuvajV,#obrisiK{
  background-color: #a16c8b;
  border: none;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  color: #eee;
}


#sacuvajV:hover,#obrisiK:hover
{
  background-color: #a16c8b;
  border: none;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  color: #eee;
}

/* .dropdown-toggle::after{
    float: right;
    margin-top: 10px;
} */

.dropdown-toggle::after{
    position: absolute;
    right: 5px;
    top: 17px
}

.dropdown
{
    margin-right: 2%;
}

#dropdownMenuButton1{
    width: 200px;
    position: relative;
    color: whitesmoke;
    background-color: rgb(101, 72, 115);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;

}

#btn-otkazi {
    background-color: #4145ad;
    border: none;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    color: #eee;
  }

  #btn-otkazi:hover {
    background-color: #51489f;
    border: none;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    color: #eee;
  }

  #btn-zameni {
    background-color: #a16c8b;
    border: none;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    color: #eee;
  }
  
  #btn-zameni:hover {
    background-color: #a16c8b;
    border: none;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    color: #eee;
  }