<div id="header">
    <div id="content">
      <div id="levo">
        <button id="nazad" routerLink="/moji-eksperimenti">Nazad na eksperimente</button>
      </div>
      <div id="naslov">
        <img src="assets/aplikacijalogo.png" alt="">
      </div>
      <div id="prijava_i_registracija" *ngIf="nesto">
        <button routerLink="/prijava" id="prijava" (click)="proba()">Prijavi se</button>
        <button routerLink="/registracija" id="registracija" (click)="proba()">Registruj se</button>
      </div>
      <div id="prijava_i_registracija1" *ngIf="!nesto">
        <button id="prijava" (click)="odjava()">Odjavi se</button>
        <button id="dugmeikonica" type="image" routerLink="/profilna-strana"><img id="iconSlika" src="assets/ikonica.png"></button>
      </div>
    </div>
  </div>
