<div id="body">
    <div id="divDugmePocetna">
        <button routerLink="/pocetna-strana" (click)="changeBoolean()" id="dugmePocetna" >Back</button>
    </div>
    <div id="centrirano">
        <div class="box">
            <div id="divbox">
                <div id="divdugmad">
                <button id="dugmepr">Login</button> 
                <button id="dugmerg" routerLink="/registracija">Register</button> 
                <hr id="l1"><hr id="l2">
                </div>
<!--
                <div id="koriloz"></div>
                <input id="korisnickoIme" type="text" name="" placeholder="Korisnicko ime">
                <div id="koriloz"></div>
                <input id="sifra" type="password" name="" placeholder="Lozinka">
                <div id="divdugme">
                    <button id="dgm" type="submit" (click)="prijava()">Prijavi se</button>
                </div>
            -->
            <form>
                <div id="p"></div>
                <input id="korisnickoIme" type="text" name="korisnickoIme" placeholder="Username" (keyup)="provera1()">
                <div id="podaci1"></div>
            
                <div id="passw">
                    <input id="sifra" type="password" name="sifra"  placeholder="Password" (keyup)="provera2()" > 
                    <span (click)="promeniVidljivost()"><i id="eye" class="fa fa-eye" aria-hidden="true"></i></span>
                </div>
                <div id="podaci2"></div>

                
                <div id="divdugme">
                    <div id="poruka"></div>
                    <button id="dgm" (click)="prijava()" >Login</button> 
                </div>
            </form>

                <p>Don't have an accound yet? <a routerLink="/registracija">Register</a> now.</p>
            </div>
        </div>
    </div>
</div>
