<!-- <app-header></app-header> -->
<div id="particles-js">
    <!-- <div id="oblast1">
    </div>
    <div id="oblast2">
    </div> -->
    <div class="panel" style="display: block;">
            <h1>Step into a world of neural networks!</h1>
            <h3>Ready? Let's start the journey!</h3>
                <button id="btn" (click)="nesto()">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    GET STARTED
                </button>
    </div>
    <canvas class="particles-js-canvas-el" width="937" height="902" style="width: 100%; height: 100%;">
    </canvas>
    <!-- <ul id="meni">
        <div *ngFor="let tabs of prikaziMeni_1">
          <li *ngIf="tabs.id==false">
              <a routerLink="{{tabs.link}}" [style]="tabs.style">{{tabs.tab}}</a>
          </li>
        </div>
    </ul> -->
</div>

