<div class="container rounded mt-0 mb-5" style="background: rgba(32, 35, 66, 0.9); width: 50%; height: 30%; color: white;">
    <div class="row">
        <div class="col-md-6">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12"><label class="labels">Full name</label><input type="text" class="form-control" placeholder="" value="" id="Ime" name="ime" (keyup)="prov1()"></div>
                    <div  class="col-md-12" id="podatak1"></div>
                    <div class="col-md-12 mt-3"><label class="labels">Username</label><input type="text" class="form-control" placeholder="" value="" id="KorisnickoIme" name="korisnickoIme" (keyup)="prov2()"></div>
                    <div  class="col-md-12" id="podatak2"></div>
                    <div class="col-md-12 mt-3"><label class="labels">Email</label><input type="text" class="form-control" placeholder="" value="" id="Email" name="email" (keyup)="prov3()"></div>
                    <div  class="col-md-12" id="podatak3"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="p-3 pt-4">
                <div class="row">
                    <div class="col-md-12"><label class="labels">Current password</label><input type="password" class="form-control" placeholder="" value="" id="staraLozinka" name="staraLozinka"></div>
                    <div  class="col-md-12" id="podatak4"></div>
                    <div class="col-md-12 mt-3"><label class="labels">New password</label><input type="password" class="form-control" placeholder="" value="" id="novaLozinka" name="novaLozinka" (keyup)="prov5()"></div>
                    <div  class="col-md-12" id="podatak5"></div>
                    <div class="col-md-12 mt-3"><label class="labels">New password, again</label><input type="password" class="form-control" placeholder="" value="" id="ponovljenaLozinka" name="ponovljenaLozinka" (keyup)="prov6()"></div>
                    <div  class="col-md-12 mb-1" id="podatak6"></div>
                </div>
                <div class="d-flex justify-content-between align-items-center mt-4">
                    <div class=" text-center mt-3" ><button class="btn btn-primary profile-button" type="button" id="odbaci" routerLink="/profilna-strana" style=" background: rgba(229, 229, 229, 0.25); box-shadow: 6px 8px 9px 4px rgba(0, 0, 0, 0.25);  font-size: 14px;">Discard changes</button></div>
                    <div class=" text-center mt-3" ><button class="btn btn-primary profile-button" type="button" id="sacuvaj" (click)="sacuvajIzmene()" style=" background: #bc7ca1; box-shadow: 6px 8px 9px 4px rgba(0, 0, 0, 0.25);  font-size: 14px;">Save changes</button></div>
                </div>
            </div>
        </div>
    </div>
</div>