<div class="container-fluid">
  <div id="body1">
      <!-- <div id="gornji">
           <input id="imeM" placeholder="Unesite naziv modela" (keyup)="handleKeyUp($event)">
          <button id="dodaj" (click)="napraviModel()" (click)="ocisti()">Dodaj model</button> 
          <div id="greska"></div>
      </div> -->
  
      <div class="row">
        <div class="col-md-4">
          <div id="divModeli">
            <div id="skrol">
              <div *ngIf="flag == true">
                  <div id="list" class="d-flex justify-content-center" style="width: 100%;">
                    <div id="naslov">List of models</div>
                    <div class="ikonicaTrash" data-bs-toggle="modal" data-bs-target="#exampleModalBrisiSve" style='font-size:30px;cursor: pointer; color: #CED9FF; float: right; margin-left: 20px; margin-top: 10px;'>
                      <!-- <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                      </svg> -->
                    </div>
                  </div>
                  <div id="model-list-headers">
                    <button class="model-list-button" (click)="changeSort('n')">Name</button>
                    <button class="model-list-button" (click)="changeSort('d')">Date</button>
                  </div>
                  <div id="sk">
                      <div type="button" id="m" *ngFor="let m of modeli; let i=index"> 
                        <ng-template #unselectedModel>
                        </ng-template>
                          <div class="model-selected-{{'p' + i === this.selektovanModel}}" id="p{{i}}" (click)="promeni($event)" (click)="modelDetaljnije(m.id)" (click)="uzmiId(m.id)">
                              <div class="name" id="p{{i}}">{{ m.name }}</div>
                              <div class="date" id="p{{i}}">{{m.createdDate}}</div>
                            <div class="o" id="p{{i}}">{{m.opis}}</div>
                          </div>
                      </div>
                  </div>
                </div>
                <div *ngIf="flag == false">
                  <div id="list" class="d-flex justify-content-center" style="width: 100%;">
                    <div id="naslov">List of models</div>
                    <div class="ikonicaTrash" data-bs-toggle="modal" data-bs-target="#exampleModalBrisiSve" style='font-size:30px;cursor: pointer; color: #CED9FF; float: right; margin-left: 20px; margin-top: 10px;'>
                      <!-- <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                      </svg> -->
                    </div>
                  </div>
                  <div class="row d-flex align-items-center justify-content-center pt-3">
                    <div class="col-md-12">
                      <div style="text-align: center; color:#bc7ca1; font-size: 18px; font-weight: 500;">*You haven't created any models yet!</div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="col-md-8">
          <div id="info">
              <div *ngIf="flag == true">
                <div class="container-fluid p-0">
                  <div class="row d-flex space" id="naslov1">
                    <div style="width:30%" class="d-flex justify-content-left">
                      <button id="dugmeDL" (click)="downloadModel()">Download Model</button>
                    </div>
                      <div style="width: 40%;">Details of the selected model</div>
                      <div style="width: 30%;">
                      <div class="ikonicaTrash" data-bs-toggle="modal" data-bs-target="#exampleModalBrisi" style='font-size:30px;cursor: pointer; color: #CED9FF; float: right; margin-right: 8px;'>
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                          <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div class="row d-flex">
                    <div class="col-md-3 ps-5 pe-0" id="osnovneI">
                      <div id="gi">General information</div>
                        <div id="nm">Model name</div>
                        <div id="n"></div>
                        <div id="nm">Creation date</div>
                        <div id="d"></div>
                        <div class="d-flex justify-content-between">
                          <div id="nmo">Model description</div>
                          <div (click)="Izmeni()" data-bs-toggle="modal" data-bs-target="#exampleModal1" style='font-size:30px;cursor: pointer; color: #bc7ca1;'>
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                            </svg>
                          </div>
                        </div>
                        <div id="opis"></div>
                    </div>
                    <div class="col-md-3 justify-content-center ps-5 pe-0" id="pod">
                      <div id="se">Settings</div>
                      <div class="d-flex justify-content-center">
                        <div>
                          <div id="nm">Problem type</div>
                          <div id="ann"></div>
                          <div id="nm">Snapshot version</div>
                          <div id="snap"></div>
                          <div id="nm">Optimizer</div>
                          <div id="opt"></div>
                          <div id="nm">Current epoch</div>
                          <div id="ce"></div>
                          <div id="nm">Number of epochs</div>
                          <div id="eph"></div>
                          <!-- <button id="dugme" data-bs-toggle="modal" data-bs-target="#exampleModal3">Izbriši model</button> -->
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6" id="statistikaR" *ngIf="type==0">
                      <div id="st">Statistic</div>
                      <div class="d-flex justify-content-center">
                        <div id="skrol1">
                          <div *ngFor="let j of jsonStatistikaR; let i=index">
                            <div id="nazivK">Output column name</div>
                            <div id="nameData">{{j.kolona}}</div>
                            <div id="nazivK">MAE(Mean absolute error)</div>
                            <div id="maeData">{{j.mae}}</div>
                            <div id="nazivK">MSE(Mean squared error)</div>
                            <div id="mseData">{{j.mse}}</div>
                            <div id="nazivK">RSE(Residual squared error)</div>
                            <div id="rseData">{{j.rse}}</div>
                            <div id="nazivK">R2(R-squared)</div>
                            <div id="r2Data">{{j.r2}}</div>
                            <div id="nazivK">AdjustedR2</div>
                            <div id="ar2Data">{{j.adjustedR2}}</div>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex justify-content-center">
                        <button id="dugmeR" (click)="nastaviTreniranje()">Continue training</button>
                      </div>
                    </div>
                    <div  class="col-md-6" id="statistikaK">
                      <div id="st">Statistic</div>
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-1 col-lg-2"></div>
                          <div class="col-md-5 col-lg-4">
                            <div id="statistikaK1">
                              <div id="nm">Accuracy</div>
                              <div id="aData"></div>
                              <div id="nm">Hamming loss</div>
                              <div id="bData"></div>
                              <div id="nm">Precision</div>
                              <div id="cData"></div>
                              <div id="nm">F1Score</div>
                              <div id="fData"></div>
                            </div>
                          </div>
                          <div class="col-md-6 col-lg-6">
                            <div id="statistikaK1">
                              <div id="nm">Balanced Accuracy</div>
                              <div id="hData"></div>
                              <div id="nm">Cross Entropy loss</div>
                              <div id="pData"></div>
                              <div id="nm">Recall</div>
                              <div id="rData"></div>
                              <button id="dugmeMetrika" type="button" class="btn btn-outline-primary" (click)="this.prikaziMatrice()" data-bs-toggle="modal" data-bs-target="#exampleModalModeli"> Confusion matrix</button>
                            </div>
                          </div>
                          <button id="dugme" (click)="nastaviTreniranje()">Continue training</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div *ngIf="flag == false">
              <div id="naslov1"><button id="dugmeDL" (click)="downloadModel()" style="visibility:hidden;">Download Model</button><div style="width: 400px; float: left; margin-left: 120px;">Details of selected model</div></div>
              <div class="row d-flex align-items-center justify-content-center">
                <div class="col-md-12">
                  <div id="naslov2"><button id="dugmeDL" (click)="downloadModel()" style="visibility:hidden;">Download Model</button><div style="width: 400px; float: left; margin-left: 100px;">*Nothing to show</div></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="compare" *ngIf="brUp>0">
            <div id="com">Compare your models</div>
            <div id="tabelaR" *ngIf="type==0">
                <div *ngFor="let i of nizGlavni; let k=index" style="width: 50%; padding-left: 30px; padding-bottom: 30px; padding-right: 30px; float: left;">
                <h3 style="color: #EEEEEE">{{imenaK[k]}}</h3>
                <table>
                  <tr>
                    <th id="poljeH">Model name</th>
                    <th id="poljeH">MAE</th>
                    <th id="poljeH">MSE</th>
                    <th id="poljeH">RSE</th>
                    <th id="poljeH">R2</th>
                    <th id="poljeH">AdjustedR2</th>
                  </tr>
                  <tr class="bodytable" *ngFor="let j of i">
                    <td id="poljeT">{{j.id}}</td>
                    <td id="poljeT" [class.bold-score]="j.mae == maeBest">{{j.mae}}</td>
                    <td id="poljeT" [class.bold-score]="j.mse == mseBest">{{j.mse}}</td>
                    <td id="poljeT" [class.bold-score]="j.rse == rseBest">{{j.rse}}</td>
                    <td id="poljeT" [class.bold-score]="j.r2 == r2Best">{{j.r2}}</td>
                    <td id="poljeT" [class.bold-score]="j.adjustedR2 == adjustedR2Best">{{j.adjustedR2}}</td>
                  </tr>
                </table>
              </div>
            </div>
            <div id="tabelaK" *ngIf="type==1">
              <h3 style="color: #EEEEEE; width: 70%;">Classification with output columns: {{K[0].kolona}}</h3>
              <table>
                <tr class="headertable">
                  <th id="poljeH">Model name</th>
                  <th id="poljeH">Accuracy</th>
                  <th id="poljeH">Balanced Accuracy</th>
                  <th id="poljeH">Cross Entropy loss</th>
                  <th id="poljeH">Hamming loss</th>
                  <th id="poljeH">Precision</th>
                  <th id="poljeH">Recall</th>
                  <th id="poljeH">F1Score</th>
                </tr>
                <tr class="bodytable" *ngFor="let i of nizGlavni[0]">
                  <td id="poljeT">{{i.id}}</td>
                  <td id="poljeT" [class.bold-score]="i.accuracy == accuracyBest">{{i.accuracy}}</td>
                  <td id="poljeT" [class.bold-score]="i.balancedAccuracy == balancedAccuracyBest">{{i.balancedAccuracy}}</td>
                  <td id="poljeT" [class.bold-score]="i.crossEntropyLoss == crossEntropyLossBest">{{i.crossEntropyLoss}}</td>
                  <td id="poljeT" [class.bold-score]="i.hammingLoss == hammingLossBest">{{i.hammingLoss}}</td>
                  <td id="poljeT" [class.bold-score]="i.precision == precisionBest">{{i.precision}}</td>
                  <td id="poljeT" [class.bold-score]="i.recall == recallBest">{{i.recall}}</td>
                  <td id="poljeT" [class.bold-score]="i.f1Score == f1ScoreBest">{{i.f1Score}}</td>
                </tr>
              </table>
            </div>
          
          </div>
          <div id="compare" *ngIf="brUp==0">
            <div id="com">Compare your models</div>
            <div style="color: rgba(188, 124, 161, 0.811); text-align: center; padding: 30px;">Selected model is not comparable to any of models in your list.</div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content" style="background: rgba(36, 38, 74, 0.95);">
              <div class="modal-header" style="border: none;">
                <h5 class="modal-title" id="exampleModalLabel" style="color: bisque; font-size: large;">Model description</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div placeholder="" contenteditable="true" id="bodyc" class="modal-body" style="width: 90%; margin: auto; color: beige; border: 2px solid #bc7ca1; border-radius: 10px;">
                
              </div>
              <div class="modal-footer" style="border: none;">
                <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                <button type="button" id="edit" (click)="izmeniOpis()" data-bs-dismiss="modal">Save</button>
              </div>
            </div>
          </div>
      </div>
      <div class="modal fade" id="exampleModalBrisi" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content" style= "background: rgba(36, 38, 74, 0.95);">
                <div class="modal-header" style="border: none;">
                  <h5 class="modal-title" id="exampleModalLabel" style="color: #eee; font-size: large;">Delete model</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div contenteditable="true" id="bodyc" class="modal-body" style="color: #eee; border: none;">
                  Are you sure you want to delete selected model?
                </div>
                <div class="modal-footer" style="border: none;">
                  <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                  <button type="button" id="edit" data-bs-dismiss="modal" (click)="obrisiModel()">Delete</button>
                </div>
              </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModalModeli" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content" style="background: rgba(36, 38, 74, 0.95);">
              <div class="modal-header" style="border: none; padding-bottom: 0px;">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div id="bodymodal" class="modal-body" style=" text-align: center;">
                  <h6 class="modal-title" id="exampleModalLabel" style="color: white; font-size: medium; float: left; margin-left: 10px;">Training dataset's confusion matrix</h6>
                  <div id="chart2">
                      
                  </div>
                  <br>
                  <br>
                  <!-- <h6 *ngIf="imaTestni==true" class="modal-title" id="exampleModalLabel" style="color: white; font-size: medium; float: left; margin-left: 10px;">Test dataset's confusion matrix</h6>
                  <div id="chart1">
                      
                  </div> -->
              </div>
              
            </div>
          </div>
        </div>
      <simple-notifications></simple-notifications>
  </div>
  </div>
  <!--<button (click)="obrisiModel(m.id)" class="noselect"><span class='text'><i style="font-size:24px" class="fa">&#xf014;</i></span><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"/></svg></span>
                         
  </button>-->
  <!--"send(m.id)" prelazak na tab za treniranje--> 