<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<div id="desnielement">
    <!--<div id="naziveksperimenta">Naziv Eksperimenta</div>-->
    <div type="text" id="naziveksperimenta"></div>
</div>
<div id="eksperiment">
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-podaci-tab" data-bs-toggle="tab" data-bs-target="#podaci" type="button" role="tab" aria-controls="nav-podaci" aria-selected="true">Data</button>
        <button class="nav-link" id="nav-model-tab" data-bs-toggle="tab" data-bs-target="#model" type="button" role="tab" aria-controls="nav-model" aria-selected="false">Train network</button>
        <button class="nav-link" id="nav-modeli-tab" data-bs-toggle="tab" data-bs-target="#modeli" type="button" role="tab" aria-controls="nav-modeli" aria-selected="false">Models of experiment</button>
  </div>

    
  <div id="oblast">
      <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="podaci" role="tabpanel" aria-labelledby="nav-podaci-tab">
              <app-podaci id="podaci" [snapshots]="snapshotovi" (PosaljiPoruku)="ucitajSnapshotove()" (PosaljiSnapshot)="primiS($event)"></app-podaci>
          </div>
          <div class="tab-pane fade" id="model" role="tabpanel" aria-labelledby="nav-model-tab">
              <!-- <app-model [mod]="eventsSubject.asObservable()" id="model"></app-model> -->
              <app-model id="model" [snapshots]="snapshotovi" [idS]="eventsSubject.asObservable()" (PosaljiModel)="primiM($event)" [idM]="eventsSubjectModel.asObservable()"></app-model>
          </div>
          <div class="tab-pane fade" id="modeli" role="tabpanel" aria-labelledby="nav-modeli-tab">
            <!-- <app-modeli (PosaljiModel)="primi($event)" id="modeli"></app-modeli> -->
            <app-modeli id="modeli" [primljenM]="eventsSubjectM.asObservable()" (PosaljiIzabranModel)="primi($event)"></app-modeli>
        </div>
        </div>
  </div>
</div>